* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Ms Madi", cursive; */
  font-family: "Nunito", sans-serif;
  color: black;
}
.blink-hard {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  50% {
    opacity: 0;
  }
}
/* li.nav-link {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 5px;
  border-radius: 5px;
}
ul.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
a.link {
  padding: 10px;
  text-decoration: none;
} */
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-shadow: 1px 2px 6px white;
  /* border-bottom: 3px grey; */
  /* width: fit-content; */
}
h2 {
  font-size: 30px;
  text-shadow: 1px 2px 6px white;
}
meter {
  width: 500px;
}

#landing {
  background-image: url(./pexel.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* font-family: "Times New Roman", Times, serif; */
}
section#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* min-height: 50vh; */
}
nav.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #8b8b8b;
}
#navbar {
  position: fixed !important ;
  top: 0;
  height: 50px;
  /* background: transparent;
  opacity: 0.5; */
  width: 100%;
}
/* nav {
  z-index: 100;
} */
p {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
}
/* about */
#About {
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  background-color: #8b8b8b;
}
.info {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.image img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  border-radius: 3px;
}
.image {
  width: 50%;
  float: left;
}
.about-text {
  padding: 50px;
  width: 50%;
}

ul {
  list-style-type: none;
}
a:link {
  text-decoration: none;
}
.about_info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.img-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: fit-content;
}
form {
  font-size: 15px;
  /* background-color: grey; */
}
.head_about {
  padding-bottom: 0;
  font-size: 30px;
}
textarea {
  width: 50%;
  font-size: 25px;
}
.my-details {
  color: black;
  display: flex;
  height: 400px;
  font-size: 25px;
  max-width: min-content;
  margin-top: 10%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 61px;
  resize: vertical;
}
input[type="submit"] {
  /* background-color: #041cf1; */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 25%;
  margin-left: 36vw;
  margin-top: 3vh;
}
input[type="submit"]:hover {
  background-color: #000000;
}

.layout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
#contact {
  min-height: 100vh;
  /* padding: 5% 10%; */
  /* background-color: #8b8b8b; */
}
.contact_name {
  display: flex;
  justify-content: center;
}

#Resume {
  min-height: 100vh;
  background-color: #65a4b8;
}
.pro-head {
  text-align: center;
}
#Projects {
  height: 100vh;

  background-color: #8b8b8b;
}
/* .project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.project-container img {
  min-width: 200px;
  flex-grow: 1;
  object-fit: cover;
  max-height: 400px;
} */
.float-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: 3px solid transparent;
  padding: 20px;
}
.float-child1 {
  height: 400px;
  width: 400px;

  padding: 30px;
  border: 2px solid red;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: 15px 15px 25px #8b8b8b, -15px -15px 25px #ffffff;
  /* align-items: center; */
}
.float-child2 {
  height: 400px;
  width: 400px;

  padding: 30px;
  border: 2px solid red;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: 15px 15px 25px #8b8b8b, -15px -15px 25px #ffffff;
  align-items: center;
}
.cal {
  width: 50%;
  height: 30%;
  margin-left: 28%;
  margin-top: -5%;
}
.holi {
  width: 50%;
  height: 30%;
  margin-left: 28%;
  margin-top: 10%;
}
.head {
  display: flex;
  justify-content: center;
}
.head2 {
  display: flex;
  justify-content: center;
}
.card {
  text-align: left;
  background: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  position: initial;
  width: 95%;
  height: 270px;
  border-radius: 10px;
  margin-top: 20px;
  border: 2px solid white;
  box-shadow: 8px 8px 15px #bbb9b9;
  margin-bottom: 20px;
}
/* .card:hover {
  transform: scale(1.1);
  transition: 0.5s;
} */
.info {
  padding-left: 20px;
  box-shadow: #000000;
}
/* 
#Contact {
  background: grey;
} */
/* #Testimonials {
  min-height: 65vh;
  background-color: #65a4b8;
} */
#Testimonials {
  background: linear-gradient(
      rgba(22, 129, 237, 0.519),
      rgba(15, 122, 228, 0.503)
    ),
    url(./picture.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
img {
  width: 150px;
  height: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  margin: 5px;
  border-radius: 8px;
}
.head {
  display: flex;
  justify-content: center;
}
.image1 {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.row {
  display: flex;
  width: 90%;
}
/* .socials {
  border-radius: 50%;
  width: 5%;
  height: 10%;
} */
.fa-solid,
.fas {
  /* font-family: "Font Awesome 6 Free"; */
  font-weight: 900;
  width: 37px;
  color: black;
}

.contact_icons {
  display: flex;
  justify-content: center;
}
i {
  font-size: 25px;
}

i:hover {
  color: white;
}

.container_testimonial {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.testimonial_card p {
  width: 400px;
  text-align: center;
}

.link {
  font-weight: bolder;
}
/* body{
  display:grid;
  grid-template-areas: 
  "header header header"
  "About About About"
  "progress_bar progress_bar progress_bar"
  "Resume Resume Resume"
  "Projects Projects Projects";
} */
@media screen and (max-width: 600px) {
  body {
    grid-template-areas:
      "hearder"
      "about"
      "progress_bar"
      "Resume"
      "projects";
  }
  #landing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #about {
    width: 100%;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  .about_info {
    display: flex;
    flex-wrap: wrap;
  }
  meter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .about-text {
    display: flex;
    flex-wrap: wrap;
  }
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}
input[type="submit"]:hover {
  background-color: #6a654f;
}
#Contact .container {
  background-color: grey;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
