body {
  width: 100%;
  background-color: blue;
  min-height: 2em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#output {
  height: 75px;
  border: 3px solid black;
  color: white;
  background-color: grey;
  font-size: xx-large;
  /* width: 19%; */
}
.calculator {
  max-width: 350px;
  margin-inline: auto;
}
.button-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* width: 300px; */
}
button {
  width: 25%;
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  font-size: x-large;
}
.purple {
  background-color: blueviolet;
}
.blue {
  background-color: red;
}
